# Passing Data

### Lists

In [2]:
x = ['apple', 'orange']

In [3]:
y = ['carrot', 'potato']

In [4]:
z = [x, y]

In [5]:
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

In [6]:
print(z[0][1])

orange

A list in python can accept any data type.

In [7]:
['This is a valid list', 2, 3.142, (2 + 5j), ['a', 'sublist']]

['This is a valid list', 2, 3.142, (2+5j), ['a', 'sublist']]

In [8]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [12]:
print(num[:9:2])
print(num[:9:3])
print(num[::3])

[0, 2, 4, 6, 8]
[0, 3, 6]
[0, 3, 6, 9]

In [13]:
len(num)

10

In [15]:
print("Min = ", min(num), "  Max = ", max(num), "  Total = ", sum(num))

Min =  0   Max =  9   Total =  45

In [16]:
[1, 2, 3] + [5, 6, 7]

[1, 2, 3, 5, 6, 7]

In [17]:
names = ['Earth', 'Air', 'Fire', 'Water']

In [18]:
'Fire' in names

True

In [19]:
'Space' in names

False

Max/min of a string is based on the ASCII code of the first character in the string.

In [24]:
mlist = ['bzaa', 'ds', 'nc', 'az', 'z', 'klm']
print("Max = ", max(mlist))
print("Min = ", min(mlist))

Max =  z
Min =  az

Max/min of a string is based on ASCII code,because it is string.

In [25]:
nlist = ['94', '1', '93', '100']
print("Max = ", max(nlist))
print("Min = ", min(nlist))

Max =  94
Min =  1

In [26]:
print("Longest = ", max(mlist, key=len))
print("Shortest = ", min(mlist, key=len))

Longest =  bzaa
Shortest =  z

Printing a list splits everything in the list,
using a split function splits every element in the print function.

In [29]:
print(list('Hello World!'), 'Hello World!!')
print(list('Hello World!'), 'Hello World!!'.split())

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!'] Hello World!!
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!'] ['Hello', 'World!!']

In [47]:
lst = [1, 1, 4, 8, 7]
lst.append([1, 2, 3])
print(lst)

[1, 1, 4, 8, 7, [1, 2, 3]]

In [48]:
lst.extend([10, 11, 12])
print(lst)

[1, 1, 4, 8, 7, [1, 2, 3], 10, 11, 12]

In [49]:
len(lst)

9

In [50]:
lst.count(1)

2

In [51]:
lst.index(1)

0

In [52]:
lst.insert(5, 'Name')
print(lst)

[1, 1, 4, 8, 7, 'Name', [1, 2, 3], 10, 11, 12]

Lists are **mutable**

In [53]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', [1, 2, 3], 10, 11, 12]

In [54]:
lst.pop()

12

In [55]:
print(lst)

[1, 1, 4, 8, 7, 'Python', [1, 2, 3], 10, 11]

In [56]:
lst.pop(0)

1

In [57]:
print(lst)

[1, 4, 8, 7, 'Python', [1, 2, 3], 10, 11]

In [58]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, [1, 2, 3], 10, 11]

In [59]:
del lst[1]
print(lst)

[1, 8, 7, [1, 2, 3], 10, 11]

In [60]:
lst.reverse()
print(lst)

[11, 10, [1, 2, 3], 7, 8, 1]

In [63]:
del lst[2]

In [68]:
lst.sort()
print(lst)

[1, 7, 8, 10, 11]

```sorted()``` is somewhat like a general function, unlike ```sort()```, which is only for lists.

In [69]:
print(sorted[3, 2, 1])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [71]:
lst.sort(reverse=True)
print(lst)

[11, 10, 8, 7, 1]

In [72]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

Wow so it works here but not above, at In[69]

In [73]:
names.sort(key=len)
print(names)
print(sorted(names, key=len, reverse=True))

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

Copying a list to another variable will just point the second variable to the memory location of the first variable.

In [74]:
lista = [2, 1, 4, 3]
listb = lista
print(listb)

[2, 1, 4, 3]

Below is an exmaple of how ```listb``` is connected to ```lista```, because they are both pointing to the same memory location.

In [75]:
lista.sort()
lista.pop()
lista.append(9)
print("A = ", lista)
print("B = ", listb)

A =  [1, 2, 3, 9]
B =  [1, 2, 3, 9]

This is how you copy a list, creating an entire new memory location for it. This is so that ```listb``` does not point to the same memory location as ```lista```.

In [77]:
lista = [2, 1, 4, 3]
listb = lista[:]
print("Starting with : ")
print("A = ", lista)
print("B = ", listb)
lista.sort()
lista.pop()
lista.append(9)
print("Finished with : ")
print("A = ", lista)
print("B = ", listb)

Starting with :
A =  [2, 1, 4, 3]
B =  [2, 1, 4, 3]
Finished with :
A =  [1, 2, 3, 9]
B =  [2, 1, 4, 3]

In [78]:
[i**2 for i in [1, 2, 3]]

[1, 4, 9]

In [80]:
[10*i*j for i in [1, 2, 3] for j in [5, 7]]

[50, 70, 100, 140, 150, 210]

In [81]:
[10*i*j for i in [1, 2, 3] if i%2==1 for j in [4, 5, 6] if j>=i+4]

[50, 60]

### Tuples

Tuples are **immutable**

In [83]:
xyz = divmod(10, 3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

Creating an empty tuple.

In [84]:
tup = ()
tup2 = tuple()

In [85]:
27,

(27,)

In [86]:
2*(27,)

(27, 27)

In [87]:
tup3 = tuple([1, 2, 3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

In [88]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

Tuples are **immutable**

In [90]:
tup3[1] = 3

TypeError: 'tuple' object does not support item assignment

Normal mapping of strings to variables<br>
```a, b, c = 'alpha', 'beta', 'gamma'```<br>
Mapping of elements in a list to variables<br>
```a, b, c = ['Alpha' , 'Beta', 'Gamma']```<br>
Mapping of tuples to a list<br>
```[a, b, c] = ('This', 'is', 'okay')```

In [93]:
(a, b, c) = ('alpha', 'beta', 'gamma')
a, b, c = 'alpha', 'beta', 'gamma'
print(a, b, c)
a, b, c = ['Alpha' , 'Beta', 'Gamma']
print(a, b, c)
[a, b, c] = ('This', 'is', 'okay')
print(a, b, c)

alpha beta gamma
Alpha Beta Gamma
This is okay

In [95]:
(w, (x, y), z) = (1, (2, 3), 4)
print(w, x, y, z)
(w, xy, z) = (1, (2, 3), 4)
print(x, xy, z)

1 2 3 4
2 (2, 3) 4

In [96]:
d = tuple('a string with many "a"s')
d.count('a')

3

In [97]:
d.index('a')

0

### Sets

In [112]:
set1 = set([1, 2, 3])
set2 = set([2, 3, 4, 5])

In [113]:
set1.union(set2)

{1, 2, 3, 4, 5}

In [114]:
set1.add(0)
set1

{0, 1, 2, 3}

In [115]:
set1.intersection(set2)

{2, 3}

In [116]:
set1.difference(set2)

{0, 1}

In [117]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

In [118]:
set1.issubset(set2)

False

In [119]:
set2.isdisjoint(set1)

False

In [120]:
set2.issuperset(set1)

False

In [121]:
set1.pop()
print(set1)

{1, 2, 3}

In [122]:
set1.remove(2)
set1

{1, 3}

In [123]:
set1.clear()
set1

set()

### Dictionaries

In [124]:
d = dict()
print(type(d))
d['abc'] = 3
d[4] = "A string"
print(d)

<class 'dict'>
{'abc': 3, 4: 'A string'}

Key value dictionary

In [125]:
d = {1:'One', 2:'Two', 100:'Hundred'}
len(d)

3

In [127]:
print(d[1])

One

In [161]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
[(name, number) for name, number in zip(names, numbers)]

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

In [162]:
a1 = dict((name, number) for name, number in zip(names, numbers))
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

Sparse matrix, to deal with huge data.<br>
Usually used when inputting data at specific locations in the matrix.

In [163]:
matrix = {(0, 1):3.5, (2, 17):0.1}
matrix[2, 2] = matrix[0, 1] + matrix[2, 17]
print(matrix)

{(0, 1): 3.5, (2, 17): 0.1, (2, 2): 3.6}

In [164]:
a2 = {name:len(name) for name in names}
print(a2)

{'One': 3, 'Two': 3, 'Three': 5, 'Four': 4, 'Five': 4}

In [165]:
len(a1)

5

In [166]:
'One' in a1

True

Clear everything in the dictionary.

In [167]:
a2.clear()
print(a2)

{}

Retrieves all the values in a1, which are the digits 1, 2, 3, 4, 5.

In [168]:
print(a1)
[v for v in a1.values()]

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

[1, 2, 3, 4, 5]

This time, retrieve keys from the dictionary.

In [169]:
print(a1)
{v for v in a1.keys()}

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

{'Five', 'Four', 'One', 'Three', 'Two'}

In [170]:
", ".join("%s = %d" % (name, val) for name, val in a1.items())

'One = 1, Two = 2, Three = 3, Four = 4, Five = 5'

Dictionaries do not have an index, so need to specify the key.

In [171]:
print(a1)
val = a1.pop('Four')
print(a1)
print("Removed", val)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
{'One': 1, 'Two': 2, 'Three': 3, 'Five': 5}
Removed 4